* {
    margin: 0;
    font-family: Arial;
    border: border-box;

}
.Search-box{    
      display: none;
}
.login-button{
    display: none;
}
.Apperance{
    display: none;
}

.navbar {
    width: 100%;
    height: 56px;
    position: fixed;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    z-index: 10;

}

.bar-logo {
    width: 24px;
    height: 24px;
    position: relative;
    right: 3.5%;
    top: -10%;
}

.bar {
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    padding: .4rem 0.25rem .4rem .6rem;
    color: grey;
}

.bar img {
    width: 20px;
}

.bar:hover {
    padding: .4rem 0.25rem .4rem .6rem;
    border-radius: 50%;
    background-color: whitesmoke;
}

.Youtube-logo {
    display: flex;
    position: relative;
    right: 5%;
    top: 9%;
}

.logo {
    position: relative;
    font-size: 30px;
}

.name {
    position: relative;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    top: 2.9px;
}

.name p {
    position: relative;
    left: 90px;
    bottom: 30px;
    font-size: 12px;
    color: gray;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 40px;
    border: 2px solid gray;
    border-radius: 24px;
    width: 40%;

}

.search-input {
    flex: 1;
    width: 100%;
    font-size: 1.25rem;
    border-radius: 24px 0px 0px 24px;
    border: none;
    padding: 1rem;
}

.search-icon {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 0px 24px 24px 0px;
    color: #131921;
    font-size: 1.2rem;
}

.search-icon:hover {
    background-color: wheat;
}

.voice-search {
    position: relative;
    right: 3%
}

.voice {
    background-color: whitesmoke;
    position: relative;

    padding: 11px 14px 11px 14px;
    border-radius: 50%;
    font-size: 20px;
}

.voice:hover {
    background-color: aliceblue;
}

.create {
    position: relative;
    left: 12%;
}

.vedio {
    padding: 13px;
    font-size: 20px;
}

.vedio:hover {
    background-color: whitesmoke;
    padding: 12px 13px 12px 13px;
    border-radius: 50%;
}

.notification-bell {
    position: relative;
    left: 7%;
}

.bell {
    padding: 14px;
    font-size: 20px;
}

.bell:hover {
    background-color: whitesmoke;
    padding: 12px 14px 12px 14px;
    border-radius: 50%;
}

/* .login {
    background-color: rgb(2, 67, 93);
    border-radius: 50%;
    padding: 11px 13px 11px 13px;
    position: relative;
    left: 40px;
} */
.id-name{
    width:32px;
    height:32px;
    background-color: #1a6282;
    position:relative;
    left: 37px;
    border-radius: 50%;
}
.id-name i{
    position:relative;
    left: 9px;
    top: 7px;
}


/* nav-panel */
.panel {
    position: fixed;
    top: 54px;
    left: 185px;
    height: 50px;
    width: 85%;
    margin-left: 31px;
    padding-top: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    z-index: 1;
}

.panel-options {
    position: relative;
    overflow-x: scroll;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
}

.panel-options::-webkit-scrollbar {
    height: 0;
}
.panel-options .box{
    position:relative;
    left: 44%;
}

.panel-options div {
    display: inline;
    font-size: 0.85rem;
    margin-left: 10px;

}

.box {
    width: fit-content;
    white-space: nowrap;
    padding: 9px 14px 9px 14px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.side-bar {
    height: 100vh;
    width: 181px;
    position: fixed;
    top: 0;
    /* overflow-y: scroll; */
    padding-left: 2%;
    padding-top: 80px;
    background-color: white;
    z-index: 2;

}

.side-bar:hover {
    width: 13%;
    overflow: auto;


}

.shortcuts-links a img {
    width: 20px;
    margin-right: 20px;

}

.shortcuts-links {
    margin-right: 20px;
    margin-left: -20px;
}

.shortcuts-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 10px 21px 10px 21px;
    white-space: nowrap;
    color: gray;
    /* width: fit-content;
    flex-wrap: wrap; */
}

.shortcuts-links a:hover {
    padding: 10px 21px 10px 21px;
    border-radius: 8px;
    white-space: nowrap;
    background-color: whitesmoke;
}

.boxs {
    padding: 10px 21px 10px 21px;
    border-radius: 8px;
    background-color: gainsboro;
}

/* 
.side-box{
    position: relative;
    top: -18px;
    left: 13px;
    font-size: 20px;
    padding: 20px 10px 20px 20px;
}
.side-box:hover{
    padding: 20px 10px 20px 20px;
    background-color: whitesmoke;
    border-radius: 8px;
}
.side-box p{
    font-size: 12px;
   
} */
hr {
    margin-bottom: 18px;
    height: 1.5px;
    position: relative;
    right: 22px;

}

.subscribers {
    margin-right: 20px;
    margin-left: -20px;
}

.subscribers h2 {
    font-size: 13px;
    margin: 20px 0;
    color: rgb(90, 88, 88);
}

.subscribers a img {
    width: 23px;
    margin-right: 20px;
    border-radius: 50%;
}

.subscribers a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 10px 9px 10px 9px;
    /* width: fit-content;
    flex-wrap: wrap; */
    color: gray;
}

.subscribers a:hover {
    padding: 10px 9px 10px 9px;
    border-radius: 8px;
    background-color: whitesmoke;
}

.Explore {
    margin-right: 20px;
    margin-left: -20px;
}

.Explore h2 {
    font-size: 13px;
    margin: 20px 0;
    color: rgb(90, 88, 88);
}

.Explore a i {
    width: 23px;
    margin-right: 20px;
    border-radius: 50%;
}

.Explore a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 10px 9px 10px 9px;
    /* width: fit-content;
    flex-wrap: wrap; */
    color: gray;
}

.Explore a:hover {
    padding: 10px 9px 10px 9px;
    border-radius: 8px;
    background-color: whitesmoke;
}

/* Adding vidios */
.user {
    display: flex;
    align-items: center;
}

.list-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding-bottom: 25px;
    margin-top: 130px;
    margin-left: 16%;
}

.video-list {
    margin-left: 2px;
}

/* .video-list .thumb{
    width: 400px;
    height: 225px;
    border-radius: 10px;
} */
.video-list .user {
    align-items: flex-start;
    margin-top: 14px;

}

.user img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.video-list video {
    border-radius: 10px;
    height: 225px;
    width: 400px;
    background-color: #000000;
}

.video-list video:hover {
    border-radius: 0;
}

.video-info {
    margin-left: 15px;
    margin-bottom: 25px;
    width: 350px;
}

.video-info a {
    text-decoration: none;
    color: black;

}

.video-info p {
    color: grey;
    padding-bottom: 5px;
    padding-top: 5px;
}

/* .time{
    position: relative;
    bottom: 42px;
    color: white;
    width: 42px;
    left: 83%;
    border-radius: 6px;
    padding: 5px;
    background-color: rgba(7, 7, 1, 0.762);
} */
/* footer */
.new-side-bar {
    display: none;
}
.newside-bar{
    display:none;
}

/* Adding javascript */
/* .small-sidebar {
    display: none;
}

.hidden-sidebar {
    position: fixed;
    display: flex;
    bottom: -10%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 5%;
    height: 100vh;
    z-index: 2;
}

.hidden-sidebar p {
    font-size: 12px;
    color: gray;
    position: relative;
    top: 4px;
}

.hidden-sidebar .side-box {
    text-align: center;
    margin-left: 10px;
    margin-bottom: 50%;
    padding: 20% 15% 20% 15%;

}

.hidden-sidebar .side-box i {
    font-size: 1.5rem;
    color: #6c6b6b;
}
.new-list-container{
    width: 93%;
    position: relative;
    right: 9%;
}
.new-list-container .video-list{
    width: 320px;
}
.new-list-container .video-list video{
    width: 320px;
    height: 182px;
} */

/* ....................................................................................................... */
@media (max-width:450px) {
    .side-bar {
        display: none;
    }

    .navbar {
        position: fixed;
        height: 56px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .logo {

        font-size: 1.5rem;
    }

    .name {
        position: relative;
        top: 1px;
        font-size: 0.9rem;
    }

    .name p {
        display: none;
    }

    .nav-search {
        border: none;
        position: relative;
        width: 8%;
        left: 19%;
    }

    .search-input {
        display: none;


    }

    .search-icon {
        background-color: white;
        width: 90%;
        color: #131921;
        font-size: 1rem;
        border-radius: 50%;
    }

    .voice {
        display: none;
    }

    .create {
        display: none;
    }

    .notification-bell {
        position: relative;
        right: 30%;


    }

    .bell {
        font-size: 1rem;
    }

    .login {
        border-radius: 50%;
        padding: 7px 10px 7px 10px;
        position: relative;
        left: 3%;
    }

    .id-name {
    position: relative;
    left: 1px;
    }

    .video-list video {
        position: relative;
        right: 2%;
        width: 100%;
    }

    .bar {
        position: relative;
        top: 5px;
        right: 5px
    }

    /* .time{
    position: relative;
    bottom: 40px;
    left: 83%;
    padding: 4px;
    font-size:15px;
 

} */
    /* .panel {
        padding-top: 0;
        position: fixed;
        margin-left: -94px;
    } */
    .panel {
        margin-left: -45%;
        width: 100%;
        padding-top: 0;
    }
    .panel-options .box{
        position:relative;
        left: 230%;
    }


    .newside-bar {
        background-color: white;
        width: 100%;
        margin-left: 50px;
        display: flex;
        justify-content: space-around;
        position: fixed;
        right: 1px;
        bottom: 0%;
        padding-bottom: 3%;
        padding-top: 2%;

    }

    .side-box {
        text-align: center;
        position: relative;
        left: -4px;
        top: 3px;
        color: #6b6868;
    }

    .side-box p {
        font-size: 12px
    }

    .side-box i {
        font-size: 17px
    }



}

@media (min-width:450px) and (max-width:700px) {
    .side-bar {
        display: none;
    }

    .new-side-bar {
        position: fixed;
        display: flex;
        bottom: -10%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 15%;
        height: 100vh;
        z-index: 2;
    }

    .side-box p {
        display: none;
    }

    .side-box {
        text-align: center;
        margin-left: -10px;
        margin-bottom: 50%;
        padding: 20% 15% 20% 15%;
        background-color: whitesmoke;
        border-radius: 8px;
    }

    .side-box:hover {
        padding: 20% 15% 20% 15%;
        background-color: #d6cece;
        border-radius: 8px;
    }

    .side-box i {
        font-size: 1.5rem;
        color: #6c6b6b;
    }

    .nav-search {
        border: none;
        width: 8%;
        position: relative;
        left: 20%;

    }

    .search-input {
        display: none;


    }

    .search-icon {

        background-color: white;
        color: #131921;
        font-size: 1rem;
        border-radius: 50%;
        position: relative;
    }

    .search-icon:hover {
        background-color: whitesmoke;
    }

    .bar-logo {
        position: relative;
        left: -10px;
        top: -10%;
    }

    .bar {
        font-size: 1.3rem;
    }

    .Youtube-logo {
        position: relative;
        right: 1%;
        top: 9%;
    }

    .voice {
        font-size: 1rem;
    }

    .create {
        position: relative;
        left: 6%;
    }

    .vedio {
        font-size: 1rem;
    }

    .notification-bell {
        position: relative;
        left: 2%;
    }

    .bell {
        font-size: 1rem;
    }

    .login {
        position: relative;
        left: 1%;
    }

    .id-name {
        position: relative;
        left: 5px;
    }

    .panel {
        width: 87%;
        margin-left: -27%;
        padding-top: 0;
    }
    .panel-options .box{
        position:relative;
        left: 236%;
    }
    .video-list video {
    border-radius: 10px;
    height: 219px;
    width: 390px;
}
    



}

@media (min-width:701px) and (max-width:977px) {
    .side-bar {
        display: none;
    }

    .new-side-bar {
        position: fixed;
        display: flex;
        bottom: -8%;

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 20%;
        height: 100vh;
        z-index: 2;
    }

    .side-box p {
        font-size: 12px;
        position: relative;
        left: 3px;
        top: 2px;
        color:gray;
    }

    .side-box {
        text-align: center;
        position: relative;
        top: 48px;
        margin-left: -60px;
        margin-bottom: 11%;
        padding: 9% 5% 9% 5%;
        
        
    }

    .side-box:hover {
        padding: 9% 5% 9% 5%;
        background-color:whitesmoke;
        border-radius:8px;
    }

    .side-box i {
        font-size: 1.5rem;
        color: #696565;
    }

    .nav-search {
        width: 20%;
        position: relative;

    }


    .search-icon {

        background-color: #d7cfcf;
        color: #131921;
        font-size: 1rem;
        position: relative;
    }

    .search-icon:hover {
        background-color: whitesmoke;
    }

    .bar-logo {
        position: relative;
        left: -15px;
        top: -10%;
    }

    .bar {
        font-size: 1.3rem;
    }

    .Youtube-logo {
        position: relative;
        right: 1%;
        top: 9%;
    }

    .voice-search {
        position: relative;
        right: -1%
    }

    .voice {
        font-size: 1rem;
    }

    .create {
        position: relative;
        left: 6%;
    }

    .vedio {
        font-size: 1rem;
    }

    .notification-bell {
        position: relative;
        left: 2%;
    }

    .bell {
        font-size: 1rem;
    }

    .login {
        position: relative;
        left: 1%;
    }

    .id-name {
    position: relative;
    left: 1px;
    }

    .panel {
        width: 90%;
        position: fixed;
        left: 192px;
        margin-left: -18%;
        padding-top: 0;
        height: 41px;
    }
    .panel-options .box{
        position:relative;
        left: 136%;
    }

    .list-container{
      width: 90%;
      position: relative;
      right: 5%;
    }
     .video-list video {
      width: 295px;
      height: 166px;
  }
     .video-list{
      width: 295px;
    }
    
}

@media (min-width:977px) and (max-width:1164px) {
    .side-bar {
        display: none;
    }

    .new-side-bar {
        position: fixed;
        display: flex;
        bottom: -8%;

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 20%;
        height: 100vh;
        z-index: 2;
    }

    .side-box p {
        font-size: 12px;
        position: relative;
        top: 5px;
    }

    .side-box {
        text-align: center;
        margin-left: -60px;
        margin-bottom: 5%;
        padding: 20% 15% 20% 15%;
    }

    .side-box:hover {
        padding: 20% 15% 20% 15%;
        background-color: #d6cece;
        border-radius: 8px;
    }

    .side-box i {
        font-size: 1.5rem;
        color: #434242;
    }

    .nav-search {
        width: 25%;
        position: relative;

    }


    .search-icon {

        background-color: #d7cfcf;
        color: #131921;
        font-size: 1rem;
        position: relative;
    }

    .search-icon:hover {
        background-color: whitesmoke;
    }

    .bar-logo {
        position: relative;
        left: -15px;
        top: -10%;
    }

    .bar {
        font-size: 1.3rem;
    }

    .Youtube-logo {
        position: relative;
        right: 1%;
        top: 9%;
    }

    .voice-search {
        position: relative;
        right: -1%
    }

    .voice {
        font-size: 1rem;
    }

    .create {
        position: relative;
        left: 6%;
    }

    .vedio {
        font-size: 1rem;
    }

    .notification-bell {
        position: relative;
        left: 2%;
    }

    .bell {
        font-size: 1rem;
    }

    .login {
        position: relative;
        left: 1%;
    }

    .id-name {
    position: relative;
    left: 1px;
    }

    .panel {
        margin-left: -5%;
    }
     .panel-options .box{
        position:relative;
        left: 92%;
    }



}
@media (min-width:1164px) and (max-width:1402px){
    .side-bar:hover{
        width:17.2%;
    }
}